EZDownSource/build
EZDownSource/dist
EZDownSource/include
EZDownSource/*.spec
EZDownSource/Lib
EZDownSource/share
EZDownSource/Scripts
EZDownSource/pyvenv.cfg
Map/src/__epspy__
Map/src/__pycache__
*.lnk
todo.txt